<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/app.css">
    <title>My Website - About</title>
</head>
<body>
    <h1>Tariq Kelly</h1>
    <p>My name is Tariq Kelly. I am a computer science major at the University of the West Indies also pursuing a minor in social psychology. In the future I'd like to pursue front end development and UX/UI design.</p>
</body>
</html>